@import '../styles/global';

.app {
  padding: 10vh 0;
  @include breakpoint-down(medium) {
    padding: 5px;
  }
  .app__title {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }
  .app__loading {
    text-align: center;
    opacity: 0.6;
  }
  .app__error {
    text-align: center;
    color: $color-red;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}


/* Tile Styles */
.tile {
  max-width: 500px;
  margin: 0 auto;
  display: block;
  background: white;
  box-shadow: 0px 1px 4px rgba($color-text-dark, 0.2);
  border-radius: 2px;

  .tile-section {
    padding: 1.5em 1em;;

    &.tile-section--bordered {
      border-top: 1px solid rgba($color-border, 0.7);
    }
  }
}
