$color-background-light: #EFF0F3;
$color-green: #00bd9c;
$color-red: #df1a1a;
$color-blue: #1497D8;

$color-text-dark: #27353f;
$color-text-light: #7f8c8d;
$color-text-faded: #aebbc4;
$color-text-h2: #63717b;
$color-text-h3: #9fadb7;
$color-border: #e9eaec;
